/* colors */
$primary-textcolor: #000000;
$secondary-textcolor: #252525;
$tertiary-textcolor: #ffffff;
$headings-textcolor: #161616;
$yellow-themecolor: #fba419;

body {
	color: $primary-textcolor;
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-weight: 500;
 	line-height: 1.6em;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

a {
	color: $tertiary-textcolor;
	text-decoration: none;
	transition: all 0.2s ease;
	&:hover {
		color: rgba($tertiary-textcolor, 0.7);
	}
}

img {
	max-width: 100%;
	height: auto;
}

/* headings */
%h1 {
	font-weight: 900;
	font-size: 71px;
	letter-spacing: -0.6px;
	line-height: 1.1em;
}
%h2 {
	font-size: 57px;
	font-weight: 900;
	letter-spacing: -0.47px;
	line-height: 1.1em;
}

.h1-dark {
	@extend %h1;
	color: $headings-textcolor;
}
.h1-white {
	@extend %h1;
	color: $tertiary-textcolor;
}
.h2-yellow {
	@extend %h2;
	color: $yellow-themecolor;
}

/* buttons */
.btn-primary {
	color: $tertiary-textcolor;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.32px;
	width: 182px;
	height: 51px;
	background-color: $yellow-themecolor;
	border: none;
	border-radius: 30px;
	&:hover{
		opacity: 0.8;
		cursor: pointer;
	}
	&:focus {
		border: none;
		outline: 0;
	}
	&::-moz-focus-inner {
		border: 0;
	}
	&:active {
		transform: scale(0.95);
	}
}
.btn-secondary {
	color: $tertiary-textcolor;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.32px;
	width: 127px;
	height: 36px;
	background-color: $yellow-themecolor;
	border: none;
	border-radius: 25px;
	&:hover{
		opacity: 0.8;
		cursor: pointer;
	}
	&:focus {
		border: none;
		outline: 0;
	}
	&::-moz-focus-inner {
		border: 0;
	}
	&:active {
		transform: scale(0.95);
	}
}