#page-head {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	height: 872px;
	background-color: #000;
	background-image: url("img/bg-head-photo.png");
	background-repeat: no-repeat;
	
	.logo {
		color: $tertiary-textcolor;
		font-size: 43px;
		font-weight: 900;
		letter-spacing: -0.5px;
		padding-left: 109px;
		img {
			width: 54px;
			height: 41px;
		}
	}
	
	header {
		width: 100%;
		height: 101px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(#fff, 0.43);
	}
	
	.navbar {
		li {
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.24px;
			display: inline-block;
			margin: 0 10px;
			&.search-icon, &.facebook-icon {
				font-size: 21px;
				font-weight: 400;
				margin: 0 0 0 27px;
			}
			&.facebook-icon {
				margin-right: 100px;
			}
			
		}
	}
	
}
